In [1]:
link='westcoastracedata.csv'

import pandas as pd

race=pd.read_csv(link)

In [2]:
race

,County,total_population,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total,State
0,Adams,20150.00,18056.0,446.00,1109.00,287.0,11.00,241.0,Washington
1,Asotin,22520.01,21087.0,144.00,355.99,184.0,58.00,691.0,Washington
2,Benton,201799.99,181938.0,3378.00,2503.99,6850.0,472.01,6658.0,Washington
3,Chelan,78420.00,73391.0,510.01,1497.00,929.0,193.00,1900.0,Washington
4,Clallam,76010.00,65939.0,791.00,4242.01,1420.0,143.00,3475.0,Washington
...,...,...,...,...,...,...,...,...,...
128,Wallowa,7208.00,6890.0,33.00,68.00,36.0,10.00,171.0,Oregon
129,Wasco,26682.00,24271.0,215.00,1003.00,300.0,191.00,702.0,Oregon
130,Washington,601592.00,479049.0,15194.00,6827.00,70417.0,3168.00,26937.0,Oregon
131,Wheeler,1332.00,1224.0,3.00,34.00,14.0,3.00,54.0,Oregon
132,Yamhill,107100.00,97848.0,1287.00,2148.00,2165.0,268.00,3384.0,Oregon

In [3]:
# soma values have decimal, let's round UP using 'ceiling' function from numpy:

import numpy as np

race.iloc[:,2:8]=race.iloc[:,2:8].apply(np.ceil)

In [4]:
# let's replace total population
race.iloc[:,2:8].sum(axis=1) # axis=0 will sum by column

0       20150.0
1       22520.0
2      201801.0
3       78421.0
4       76011.0
         ...
128      7208.0
129     26682.0
130    601592.0
131      1332.0
132    107100.0
Length: 133, dtype: float64

In [5]:
# then

race['total_population']=race.iloc[:,2:8].sum(axis=1)

In [6]:
# divide each column by total and multiply by 100 to get SHARE in %:

race.iloc[:,2:8].div(race.total_population, axis=0)*100 # axis=0 by column

,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total
0,89.607940,2.213400,5.503722,1.424318,0.054591,1.196030
1,93.636767,0.639432,1.580817,0.817052,0.257549,3.068384
2,90.157135,1.673926,1.240826,3.394433,0.234389,3.299290
3,93.585902,0.651611,1.908927,1.184632,0.246108,2.422820
4,86.749286,1.040639,5.582087,1.868151,0.188131,4.571707
...,...,...,...,...,...,...
128,95.588235,0.457825,0.943396,0.499445,0.138735,2.372364
129,90.963946,0.805787,3.759089,1.124353,0.715838,2.630987
130,79.630214,2.525632,1.134822,11.705109,0.526603,4.477619
131,91.891892,0.225225,2.552553,1.051051,0.225225,4.054054
132,91.361345,1.201681,2.005602,2.021475,0.250233,3.159664

In [7]:
# new data frame with percent
racepct=race.iloc[:,2:8].div(race.total_population, axis=0)*100

In [8]:
# change column names
racepct.columns+'_pct'

Index(['white_total_pct', 'black_total_pct', 'aian_total_pct',
       'asian_total_pct', 'nhopi_total_pct', 'multiracial_total_pct'],
      dtype='object')

In [9]:
#then
racepct.columns=racepct.columns+'_pct'

In [10]:
racepct

,white_total_pct,black_total_pct,aian_total_pct,asian_total_pct,nhopi_total_pct,multiracial_total_pct
0,89.607940,2.213400,5.503722,1.424318,0.054591,1.196030
1,93.636767,0.639432,1.580817,0.817052,0.257549,3.068384
2,90.157135,1.673926,1.240826,3.394433,0.234389,3.299290
3,93.585902,0.651611,1.908927,1.184632,0.246108,2.422820
4,86.749286,1.040639,5.582087,1.868151,0.188131,4.571707
...,...,...,...,...,...,...
128,95.588235,0.457825,0.943396,0.499445,0.138735,2.372364
129,90.963946,0.805787,3.759089,1.124353,0.715838,2.630987
130,79.630214,2.525632,1.134822,11.705109,0.526603,4.477619
131,91.891892,0.225225,2.552553,1.051051,0.225225,4.054054
132,91.361345,1.201681,2.005602,2.021475,0.250233,3.159664

In [11]:
# you could round:
racepct.round(2)

,white_total_pct,black_total_pct,aian_total_pct,asian_total_pct,nhopi_total_pct,multiracial_total_pct
0,89.61,2.21,5.50,1.42,0.05,1.20
1,93.64,0.64,1.58,0.82,0.26,3.07
2,90.16,1.67,1.24,3.39,0.23,3.30
3,93.59,0.65,1.91,1.18,0.25,2.42
4,86.75,1.04,5.58,1.87,0.19,4.57
...,...,...,...,...,...,...
128,95.59,0.46,0.94,0.50,0.14,2.37
129,90.96,0.81,3.76,1.12,0.72,2.63
130,79.63,2.53,1.13,11.71,0.53,4.48
131,91.89,0.23,2.55,1.05,0.23,4.05
132,91.36,1.20,2.01,2.02,0.25,3.16

In [12]:
racepct=racepct.round(2)

In [13]:
# time to append
pd.concat([race,racepct],axis=1)

,County,total_population,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total,State,white_total_pct,black_total_pct,aian_total_pct,asian_total_pct,nhopi_total_pct,multiracial_total_pct
0,Adams,20150.0,18056.0,446.0,1109.0,287.0,11.0,241.0,Washington,89.61,2.21,5.50,1.42,0.05,1.20
1,Asotin,22520.0,21087.0,144.0,356.0,184.0,58.0,691.0,Washington,93.64,0.64,1.58,0.82,0.26,3.07
2,Benton,201801.0,181938.0,3378.0,2504.0,6850.0,473.0,6658.0,Washington,90.16,1.67,1.24,3.39,0.23,3.30
3,Chelan,78421.0,73391.0,511.0,1497.0,929.0,193.0,1900.0,Washington,93.59,0.65,1.91,1.18,0.25,2.42
4,Clallam,76011.0,65939.0,791.0,4243.0,1420.0,143.0,3475.0,Washington,86.75,1.04,5.58,1.87,0.19,4.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Wallowa,7208.0,6890.0,33.0,68.0,36.0,10.0,171.0,Oregon,95.59,0.46,0.94,0.50,0.14,2.37
129,Wasco,26682.0,24271.0,215.0,1003.0,300.0,191.0,702.0,Oregon,90.96,0.81,3.76,1.12,0.72,2.63
130,Washington,601592.0,479049.0,15194.0,6827.0,70417.0,3168.0,26937.0,Oregon,79.63,2.53,1.13,11.71,0.53,4.48
131,Wheeler,1332.0,1224.0,3.0,34.0,14.0,3.0,54.0,Oregon,91.89,0.23,2.55,1.05,0.23,4.05
132,Yamhill,107100.0,97848.0,1287.0,2148.0,2165.0,268.0,3384.0,Oregon,91.36,1.20,2.01,2.02,0.25,3.16

In [14]:
# making change
raceall=pd.concat([race,racepct],axis=1)

In [15]:
raceall

,County,total_population,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total,State,white_total_pct,black_total_pct,aian_total_pct,asian_total_pct,nhopi_total_pct,multiracial_total_pct
0,Adams,20150.0,18056.0,446.0,1109.0,287.0,11.0,241.0,Washington,89.61,2.21,5.50,1.42,0.05,1.20
1,Asotin,22520.0,21087.0,144.0,356.0,184.0,58.0,691.0,Washington,93.64,0.64,1.58,0.82,0.26,3.07
2,Benton,201801.0,181938.0,3378.0,2504.0,6850.0,473.0,6658.0,Washington,90.16,1.67,1.24,3.39,0.23,3.30
3,Chelan,78421.0,73391.0,511.0,1497.0,929.0,193.0,1900.0,Washington,93.59,0.65,1.91,1.18,0.25,2.42
4,Clallam,76011.0,65939.0,791.0,4243.0,1420.0,143.0,3475.0,Washington,86.75,1.04,5.58,1.87,0.19,4.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Wallowa,7208.0,6890.0,33.0,68.0,36.0,10.0,171.0,Oregon,95.59,0.46,0.94,0.50,0.14,2.37
129,Wasco,26682.0,24271.0,215.0,1003.0,300.0,191.0,702.0,Oregon,90.96,0.81,3.76,1.12,0.72,2.63
130,Washington,601592.0,479049.0,15194.0,6827.0,70417.0,3168.0,26937.0,Oregon,79.63,2.53,1.13,11.71,0.53,4.48
131,Wheeler,1332.0,1224.0,3.0,34.0,14.0,3.0,54.0,Oregon,91.89,0.23,2.55,1.05,0.23,4.05
132,Yamhill,107100.0,97848.0,1287.0,2148.0,2165.0,268.0,3384.0,Oregon,91.36,1.20,2.01,2.02,0.25,3.16

In [16]:
#save result:

raceall.to_csv('raceall.csv')